.containerParent{
    display: flex;
    height: 98vh;
    align-items: center;
    justify-content: center;
}
.container{
    color: black;
    width: 25%;
    background-color: white;
    padding: 30px 40px;
    border-radius: 20px;
}

.container h1{
    text-align: center;
    font-family: "Roboto Flex";
    border-bottom: 2px solid rgba(0,0,0,0.3);
    padding-bottom: 15px;
    font-size: 2.5rem;
    margin-top: 15px;
}

.box , .buttons{
    margin-top: 35px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    column-gap: 30px;
}

.buttons button{
    padding: 10px 20px;
    border-radius: 10px;
    outline: 0;
    font-size: 1.125rem;
    background-color: lightgray;
    cursor: pointer;
}

.buttons button[type="submit"]{
    background-color: var(--bg-light-green);
}

.box{
    display: flex;
    flex-direction: column;
}
.box img{
    width: 30px;
}
.box label{
    font-size: 1.12rem;
    padding-bottom: 5px;
    opacity: 0.8;
}
.box span{
    display: flex;
    align-items: center;
}
.box input{
    width: 100%;
    font-size: 1.12rem;
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgba(0,0,0,0.4);
    margin-left: 10px;
}

.options{
    margin-top: 15px;
}
.options a:any-link{
    color: black;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.7;
    transition: opacity 0.3s;
}
.options a:any-link:hover{
    opacity: 1;
}