.parentContainer{
    background-color: #F7ECED;
    background-image: url("../../../../assets/texture/paper_texture.png");
    background-size: contain;
    color: black;
    height: 95vh;
    padding: 20px 30px;
}

.container{
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
    justify-items: center;
    height: 100%;
}

@keyframes imageMotion {
    0%{
        rotate: 0deg;
    }
    33%{
        rotate: -5deg;
    }
    66%{
        rotate: 5deg;
    }
    100%{
        rotate: 0deg;
    }
}

.image{
    width: 450px;
    height: 600px;
    box-shadow: -25px 25px 100px black;
    animation: imageMotion 5s ease-in-out infinite;
    border-style: solid;
    /* border-width: 10px; */
    /* border-color: "black"; */
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.parentTextContainer{
    justify-self: left;
}

.parentTextContainer p{
    text-transform: uppercase;
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 2px;
    margin-bottom: 33px;
    z-index: 100;
}
.parentTextContainer .byLine{
    font-size: 2rem;
}
.parentTextContainer .byLine, .parentTextContainer h1, .parentTextContainer h2{
    font-family: "Italianno", cursive;
    text-transform: capitalize;
    rotate: -5deg;
    margin-bottom: 0;
}

.parentTextContainer h1, .parentTextContainer h2{
    margin-top: 0;
}
.parentTextContainer h1{
    font-size: 8rem;
}

.parentTextContainer h2{
    font-size: 5rem;
    margin-top: 5px;
    text-align: center;
}

