@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

:root{
    --bg-green: rgb(0,80,80);
    --bg-light-green:rgb(163,254,121);
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--bg-green);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
}
.heading-h1,.heading-h2{
    font-family: 'Roboto Flex';
    font-weight: 600;
    word-spacing: 10px;
    letter-spacing: 1px;
}
.heading-h1{
    font-size: 5rem;
}
.heading-h2{
    font-size: 3rem;
}
.bg-particles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.grid--1x2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;
}
.link-direction{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
}

.link-direction span{
    opacity: 0.8;
    transition: opacity 0.3s;
}
.link-direction:any-link{
    color: white;
    text-decoration: none;
}
.link-direction svg{
    opacity: 1;
    margin-left: 10px;
    width: 33px;
    transition: transform 0.3s;
}
.link-direction:hover span{
    opacity: 1;
}

.link-direction:hover svg{
    transform: translateX(15px);
}


.home-heading-box{
    justify-self: right;
}

.home-line-small{
    text-transform: uppercase;
    font-family: "Roboto";
    letter-spacing: 3px;
}

.home-heading-big{
    width: 20ch;
    margin-top: 0;
}

.home-description{
    font-size: 1.15rem;
    width: 65ch;
    line-height: 33px;
    margin-bottom: 55px;
}

.home-get-started{
    padding: 20px;
    outline: 0;
    border: 2px solid black;
    font-size: 1.125rem;
    border-radius: 10px;
    font-weight: bolder;
    word-spacing: 2px;
    font-family: "Roboto";
    background-color: var(--bg-light-green);
    cursor: pointer;
    transition: box-shadow 0.3s;
}
.home-get-started a:any-link{
    color: black;
    text-decoration: none;
}
.home-get-started:hover{
    box-shadow: 0 0 15px var(--bg-light-green);
}

.home-images{
    display: flex;
    justify-content: left;
}

.home-images img{
    position: absolute;
}
.home-images img:first-child{
    right: 12.5%;
}
.home-images img:nth-child(2){
    right: 0%;
    transform: translateY(33px);
}

.home-images img:last-child{
    right: 25%;
    transform: translateY(25px);
}

#about{
    margin-top: 300px;
    margin-bottom: 300px;
}
.about-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-box h1{
    width: 20ch;
    margin-bottom: 40px;
    margin-top: 0;
}
.about-box p{
    margin-top: 0;
    font-size: 1.15rem;
    line-height: 30px;
    width: 70ch;
}
.about-box a{
    width: 100%;
}

.about-images img{
    position: absolute;
    width: 350px;
    overflow: visible;
    rotate: -15deg;
    margin-top: 50px;
    transition: transform 0.5s;
}
.about-images img:hover{
    transform: translateY(-150px);
}

.about-images img:first-child{
    width:320px;
    left: 95px;
}
.about-images img:nth-child(2){
    left: 225px;
}
.about-images img:last-child{
    left: 395px;
}

.bold{
    font-weight: 500;
    color: lightblue;
}

#features{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
}

#features a{
    font-size: 2.5rem;
    font-weight: 500;
    word-spacing: 3px;
    margin-top: 60px;
    margin-bottom: 100px;
}
#features a svg{
    width: 50px;
}
#features h1{
    margin-bottom: 100px;
}

.features-box{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    row-gap: 100px;
}
.features-box .feature{
    color: black;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding:30px 40px;
    justify-items: center;
    align-items: center;
    column-gap: 30px;
    background-color: white;
    border-radius: 50px;
}

.features-box .feature h2{
    font-family: "Archivo";
    word-spacing: 3px;
    font-size: 3.5rem;
}
.features-box .feature p{
    font-size: 1.25rem;
    width: 55ch;
    padding-left: 40px;
}


footer{
    padding: 10px 20px;
    background-color: var(--bg-light-green);
    display: flex;
    color: black;
    border-radius: 10px;
    border: 2px solid black;
    align-items: center;
    justify-content: space-between;
}
footer p{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 0;
}
footer a:any-link{
    color: black;
    text-decoration: none;
}

footer span{
    font-size: 1.5rem;
}